body {
    background-color: #c0cbfb;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Center the items vertically */
    justify-content: center; /* Center the items horizontally */
    margin-bottom: 20px; /* Space below the header */
}

.logo-image {
    width: 150px; /* Set desired width for the logo */
    height: auto; /* Maintain aspect ratio */
    margin-right: 20px; /* Space between logo and text */
}

.signup-prompt {
    margin-top: 5px;
    font-size: 14px;
    color: blue;
    text-align: center;
    padding: 10px;
}

.signup-link {
    text-decoration: underline;
    cursor: pointer;
    transition: color 0.3s;
}

.signup-link:hover{
    color: #0056b3;
}

.button-submit{
    margin-top: 50px;
    max-width: 400px;
    background-color: #007bff; /* Primary button color */
    color: white; /* White text */
    border: none; /* No border */
    border-radius: 30px; /* Rounded corners for button */
    padding: 10px; /* Padding inside button */
    font-size: 25px; /* Button text size */
    font-weight: bold;
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Transition for hover effect */

    display: block;
    margin: 50px auto 50px auto;
    text-align: center;
}