




/* .mrt-page {
    display: flex;
  }
  
  .map-container {
    width: 40%; 
    height: 360px;
    border: 2px solid white;
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; 
  }
  
  .menu-container {
    width: 70%; 
    padding: 20px;
    background-color: #fff; 
  }
  
  .line-container {
    margin: 10px 0;
  }
  
  .station-info {
    margin-top: 20px;
  } */
