.page-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  background-color: #EFF5FF;
}

.MRTmap {
  flex: 1;
  padding: 0;
  width: 100%;
  height: 400px; 
  display: flex;
  justify-content: center;
  position: relative;
}

.content-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
  margin-right: 20px;
}

.view-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
}

.view-buttons button {
  flex: 1;
  padding: 13px 20px;
  cursor: pointer;
  border: none;
  background-color: #f8f8f8;
  border-radius: 5px;
  font-size: 18px; 
  font-weight: bold;
}

.view-buttons .active {
  background-color: #aca9a9;
  color: #fff;
}

.view-content {
  align-items: center;
  justify-content: center;
  width: 100%;
}

@media (max-width: 1024px) {
  .MRTmap {
    height: 300px; 
  }

  .view-buttons button {
    font-size: 16px; 
    padding: 10px 15px; 
  }
}

@media (max-width: 768px) {
  .page-container {
    flex-direction: column; 
  }

  .MRTmap {
    height: 250px;
  }

  .content-container {
    margin-top: 10px;
    margin-right: 0;
  }

  .view-buttons button {
    font-size: 14px; 
    padding: 8px 10px;
  }
}

@media (max-width: 480px) {
  .MRTmap {
    height: 200px; 
  }

  .view-buttons button {
    font-size: 12px; 
    padding: 6px 8px; 
  }
}
