h1 {
    font-size: 60px;
    color: black;
}

.auth-form {
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: auto;
    padding: 30px;
    text-align: center;
}

.input-container {
    border: 1px solid #b0c9ff;
    border-radius: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.input-icon {
    width: 20px;
    height: 20px;
    margin-left: 20px;
    margin-right: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    background-color: transparent;
    font-size: 16px;
}

input:focus {
    border-color: #007bff;
    outline: none;
}

.button-submit{
    margin-top: 50px;
    width: 100%;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-color: #c0c0c0;
    cursor: not-allowed;
}

p {
    font-size: 14px;
    margin-top: 10px;
}

p a {
    color: #007bff;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

.forgot-password {
    color: blue;
    cursor: pointer;
    text-align: right;
    font-size: 14px;
    text-decoration: underline;
    transition: color 0.3s;
}

.forgot-password:hover {
    color: #0056b3;
}