h1 {
    font-size: 60px; /* Heading size */
    color: black; /* Dark text color */
}

.auth-form {
    background-color: white; /* White background for the form */
    border-radius: 30px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
    max-width: 400px; /* Max width for form */
    margin: auto; /* Center the form */
    padding: 30px; /* Padding inside the form */
    text-align: center; /* Centered text */
}

.input-container {
    border: 1px solid #b0c9ff;
    border-radius: 30px;
    display: flex;
    align-items: center; /* Center the icon and input vertically */
    margin-bottom: 15px; /* Space between input fields */
}

.input-icon {
    width: 20px; /* Adjust icon size */
    height: 20px; /* Adjust icon size */
    margin-left: 20px;
    margin-right: 10px; /* Space between icon and input */
}

input {
    width: 100%; /* Full width inputs */
    padding: 10px; /* Padding inside inputs */
    margin: 10px 0; /* Space between inputs */
    border: none;
    background-color: transparent;
    font-size: 16px; /* Input text size */
}

input:focus {
    border-color: #007bff; /* Change border color on focus */
    outline: none; /* Remove default outline */
}

.button-submit{
    margin-top: 50px;
    width: 100%;
    background-color: #007bff; /* Primary button color */
    color: white; /* White text */
    border: none; /* No border */
    border-radius: 30px; /* Rounded corners for button */
    padding: 10px; /* Padding inside button */
    font-size: 25px; /* Button text size */
    font-weight: bold;
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Transition for hover effect */
}

button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

button:disabled {
    background-color: #c0c0c0; /* Light gray for disabled */
    cursor: not-allowed; /* Not allowed cursor */
}

p {
    font-size: 14px; /* Smaller text for links */
    margin-top: 10px; /* Space above paragraph */
}

p a {
    color: #007bff;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

.forgot-password {
    color: blue;
    cursor: pointer;
    text-align: right;
    font-size: 14px;
    text-decoration: underline;
    transition: color 0.3s;
}

.forgot-password:hover {
    color: #0056b3;
}