/* LRTLines.css */
.line-code-box {
    display: inline-block; 
    background-color: #B7C2B7; 
    color: rgb(0, 0, 0); 
    padding: 4px 8px; 
    border-radius: 4px; 
    margin-right: 5px; 
}

.line-code {
    font-weight: bold;
    color: white;
}

.lrt-line-button {
    cursor: pointer;
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
    font-size: 21px;
    cursor: pointer;
    color: #000000;
    font-weight: bold;
    background-color: #ACA9A9;
}

.lrt-line-button:hover {
    opacity: 0.8; 
    background-color: #bebbbb;
}

.bukit-panjang-line, .sengkang-line, .punggol-line{
    background-color: #aca9a9;
}

.lrt-station-list {
    padding: 0;
    font-size: 1.1rem;
    max-height: 350px; 
    overflow-y: auto;
    list-style-type: none;  
    padding-left: 21px;
    margin-bottom: 10px;
    background-color: #e9e8e8;
}

.lrt-station-item {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    color: black;
    font-size: 18px;
    align-items: center; 
}

.bukit-panjang-line-dropdown, .bukit-panjang-line-items{
    background-color: #E3E3E3;
}

.sengkang-line-dropdown, .sengkang-line-items{
    background-color: #E3E3E3;
}


.punggol-line-dropdown, .punggol-line-items{
    background-color: #E3E3E3;
}

.lrt-station-button{
    cursor: pointer;
    background-color: grey;
    display: inline-block;  
    padding: 4px 4px; 
    border-radius:4px; 
    margin-right: 2px;
    border-color: grey;
    color: white;
}


.crowd-density {
    display: flex; 
    justify-content: flex-end;
    gap: 8px;
    margin-left: auto;
}

.now-density-container span, .forecast-density-container span{
    font-size: 0.9rem;
    font-weight: bold;
}

.now-crowd-density-box, .forecast-crowd-density-box {
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
}

.crowd-level-indicator{
    height: 30px;
    border-radius: 50%;
}

.crowd-level-indicator.l {
    background-color: #22c55e; 
}

.crowd-level-indicator.m {
    background-color: #f59e0b; 
}

.crowd-level-indicator.h {
    background-color: #ef4444; 
}

.crowd-level-indicator.unknown {
    background-color: #9ca3af; 
}

.now-density-container {
    background-color: white; 
    padding-left: 11px;
    display: flex;
    align-items: center; 
    border-radius: 20px;
    width: 170px;
    height: 50px;
    height: fit-content;
    margin-right: 40px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    line-height: 1;
}

.forecast-density-container {
    background-color: white; 
    padding-left: 11px;
    display: flex;
    align-items: center; 
    border-radius: 20px;
    width: 170px;
    height: 50px; 
    height: fit-content;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    line-height: 1;
}

.crowd-level-label {
    font-size: 14px;
    color: #000000;
}
