/* General Styles for LRT Lines */
.line-code-box {
    display: inline-block;
    background-color: #B7C2B7;
    color: rgb(0, 0, 0);
    padding: 4px 8px;
    border-radius: 4px;
    margin-right: 5px;
}

.line-code {
    font-weight: bold;
    color: white;
}

.lrt-line-button {
    cursor: pointer;
    display: block;
    width: 100%;
    padding: 15px 20px; /* Larger padding for prominence */
    border: 1px solid #ccc;
    text-align: left;
    font-size: 24px; /* Larger font size */
    font-weight: bold;
    color: #000000;
    background-color: #ACA9A9;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.lrt-line-button:hover {
    opacity: 0.9;
    background-color: #bebbbb;
    transform: scale(1.03); /* Slight scaling effect */
}

/* Line-Specific Colors */
.bukit-panjang-line, .sengkang-line, .punggol-line {
    background-color: #ACA9A9;
}

.bukit-panjang-line-dropdown {
    background-color: #E1F5FE;
}

.sengkang-line-dropdown {
    background-color: #E0F7FA;
}

.punggol-line-dropdown {
    background-color: #EDE7F6;
}

.lrt-station-list {
    padding: 0;
    font-size: 1.1rem;
    max-height: 350px;
    overflow-y: auto;
    list-style-type: none;
    padding-left: 21px;
    margin-bottom: 10px;
    background-color: #e9e8e8;
}

/* Station Item Styles */
.lrt-station-item {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    color: black;
    font-size: 18px;
    align-items: center;
}

/* Station Button with Hover Effect */
.lrt-station-button {
    cursor: pointer;
    background-color: grey;
    display: inline-block;
    padding: 8px 12px; /* Adjusted padding */
    border-radius: 4px;
    margin-right: 4px;
    border: none;
    color: white;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.lrt-station-button:hover {
    background-color: #6c6c6c; /* Darker color on hover */
    transform: scale(1.05); /* Slightly enlarge on hover */
}

/* Line-Specific Hover Colors for Station Buttons */
.lrt-station-button.bukit-panjang-line:hover {
    background-color: #8AB5D1; /* Darker shade for Bukit Panjang Line */
}

.lrt-station-button.sengkang-line:hover {
    background-color: #80CBC4; /* Darker shade for Sengkang Line */
}

.lrt-station-button.punggol-line:hover {
    background-color: #B39DDB; /* Darker shade for Punggol Line */
}

/* Crowd Density Styling */
.crowd-density {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin-left: auto;
}

.now-density-container span, .forecast-density-container span {
    font-size: 0.9rem;
    font-weight: bold;
}

.now-crowd-density-box, .forecast-crowd-density-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.crowd-level-indicator {
    height: 30px;
    border-radius: 50%;
}

.crowd-level-indicator.l {
    background-color: green;
}

.crowd-level-indicator.m {
    background-color: yellow;
}

.crowd-level-indicator.h {
    background-color: red;
}

.crowd-level-indicator.unknown {
    background-color: #9ca3af;
}

.now-density-container, .forecast-density-container {
    background-color: white;
    padding-left: 11px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    width: 170px;
    height: fit-content;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    line-height: 1;
    margin-right: 40px;
}

.crowd-level-label {
    font-size: 14px;
    color: #000000;
}
