html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.map-container {
  width: 30%; 
  height: 500px;
  border: 2px solid white;
  margin: 20px; 
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  height: 100%; /* Fill the container */
  width: 100%; /* Fill the container */
}

.place-picker-container {
  padding: 20px;
}
