/* MrtDropdown.css */

.mrt-line-button {
    cursor: pointer;
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
    font-size: 21px;
    cursor: pointer;
    color: #000000;
    font-weight: bold;
    background-color: #ACA9A9;
}

.mrt-line-button:hover {
    opacity: 0.8; /* Reduce opacity on hover */
    background-color: #bebbbb;
}

.mrt-station-list {
    padding: 0;
    font-size: 1.1rem;
    max-height: 350px; 
    overflow-y: auto;
    list-style-type: none;  
    padding-left: 21px;
    margin-bottom: 10px;
}

.mrt-station-item {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px; 
    font-size: 18px;
    color: black;
    display: flex;
    align-items: center;
}

.mrt-line-button.CCL, .line-code-box.CCL, .mrt-station-button.CCL{
    background-color: #ffa515;
    border-color: #ffa515; 
} 

.line-code-box.DTL, .mrt-station-button.DTL,.mrt-station-button.DTL {
    background-color: #005DA6; 
    border-color: #005DA6;
}

.line-code-box.EWL, .mrt-station-button.EWL,.mrt-station-button.EWL {
    background-color: #4EA853; 
    border-color: #4EA853;
    
}

.line-code-box.NEL, .mrt-station-button.NEL,.mrt-station-button.NEL{
    background-color: #9E28B5; 
    border-color: #9E28B5;
}

.line-code-box.NSL, .mrt-station-button.NSL,.mrt-station-button.NSL {
    background-color: #E1251B; 
    border-color: #E1251B;
}


.mrt-station-list-CCL{
    background-color: #f8dcb6;
}
.mrt-station-list-DTL{
    background-color: #c0e3fe;
}
.mrt-station-list-EWL{
    background-color: #a7feca;
}
.mrt-station-list-NEL{
    background-color: #f4befe;
}
.mrt-station-list-NSL{
    background-color: #ffbab7;
}

.station_code {
    font-weight: bold;
}

.station_name {
    font-style: normal;
    font-weight: bold;
}
.mrt-station-button{
    cursor: pointer;
    display: inline-block;  
    padding: 6px;
    border-radius:4px; 
    margin-right: 2px;
    color: white;
}

.crowd-density {
    display: flex; 
    align-items: center;
    gap: 8px;
}

.crowd-density span {
    font-size: 0.9rem;
    font-weight: bold;
    margin-right: 4px;
}

.crowd-density-box {
    display: flex;
    align-items: center; 
    gap: 8px;
}

.crowd-level-indicator{
    display: flex;
    align-items: center; 
    gap: 8px;
}

.crowd-level-color {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 4px;
}
  
.crowd-level-color.l {
    background-color: green; /* Low crowd level color */
}
  
.crowd-level-color.m {
    background-color: yellow; /* Medium crowd level color */
}
  
.crowd-level-color.h {
    background-color: red; /* High crowd level color */
}

.crowd-level-color.unknown {
    background-color: #9ca3af; /* Gray for unknown status */
}


