.nearby-mrt {
    position: absolute;
    right: 10%;
    top: 40%;
    flex: 1;
    background-color: #4e71c5;
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin-left: 20px;
  }
  
  .nearby-mrt h2 {
    margin-bottom: 10px;
  }
  
  .nearby-mrt ul {
    list-style-type: none;
  }
  
  .nearby-mrt li {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .line {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .green {
    background-color: #49c750;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
  }
  
  .red {
    background-color: #d64a4a;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
  }
  
  .walk-time {
    margin-left: 20px;
  }
.crowd {
    margin-left: 10px;
    font-weight: bold;
}
.crowd::before {
  content: '•';
  font-size: 25px;
  margin-right: 5px;
}

.crowd.light::before {
  color: lime;
}

.crowd.moderate::before {
  color: orange;
}

.crowd.heavy::before {
  color: red;  
}