.navButton {
    flex: 1;                              
    height: auto;                         
    background-color: #f1f1f1;           
    border: none;                          
    cursor: pointer;                       
    display: flex;                         /* Use flexbox to align content */
    align-items: center;                   /* Center align items vertically */
    justify-content: center;               /* Center align items horizontally */
    text-align: center;                    /* Ensure text is centered */
    padding: 8px 15px;                    /* Increased padding for wider buttons */
    min-width: 120px;                      /* Increased minimum width for consistency */
    border-radius: 0;                      /* No rounded corners for a rectangular shape */
    margin: 0 5px;                         /* Reduced horizontal margin for spacing between buttons */
}

/* Image within the button */
.navButton img {
    width: 20px;                           /* Set image size */
    height: auto;                          /* Maintain aspect ratio */
    margin-right: 5px;                     /* Space between image and label */
}

/* Text within the button */
.navButton span {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;                       /* Set smaller font size for responsiveness */
    color: #000;                           /* Default text color */
}

.navButton:hover {
    background-color: #ADD8E6;            /* Change to green on hover */
}

/* Add shadow when the entire button is pressed */
.navButton:active {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); /* Create shadow when pressed */
    transform: translateY(2px);                  /* Simulate button pressing down */
}

/* Style the link */
a {
    text-decoration: none;                   /* No underline for the link */
    color: inherit;                          /* Inherit color */
    width: 100%;                             /* Ensure link takes up full button space */
    height: 100%;                            /* Ensure link takes up full button space */
    display: flex;                           /* Ensure link covers the entire button area */
    justify-content: center;                 /* Center content vertically */
    align-items: center;                     /* Center content horizontally */
}