/* NearbyStationMap.css */

.nearby-station-container {
  display: flex;
  gap: 20px;
  padding: 10px;
}

.map-container {
  width: 50%;
  height: 500px;
}

.nearby-station-list-container {
  width: 50%;
  overflow-y: auto;
  box-sizing: border-box;
}

.error-message {
  color: red;
  margin-top: 10px;
}